* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #35356e;
}

/* Header */
header {
	font-family: 'Open Sans', sans-serif;
	position: fixed;
	width: 100%;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	padding: 10px 40px;
	align-items: center;
	background-color: #35356e;
	color: white;
	z-index: 1000;
	top: 0;
	left: 0;
}

.logo img {
	height: 50px;
}

.nav-links {
	list-style: none;
	display: flex;
	gap: 20px;
}

.nav-links li {
	cursor: pointer;
}

.nav-links li a {
	color: white;
	text-decoration: none;
}

.menu-hamburguer {
	display: none;
}

/* Section 1 */
.banner {
	font-family: 'Source Code Pro', monospace;
	padding-top: 50px;
	position: relative;
	overflow: hidden;
	height: 950px;
}

.banner h1 {
	color: white;
	text-align: left;
	font-size: 2.5em;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 10px 0;
	animation: typing 4s steps(40, end) infinite;
}

#videoBackground {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.banner-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-content button {
    padding: 15px 30px;
    margin-top: 30px;
    background-color: #35356e;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
    outline: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

.banner-content button:hover {
    transform: translateY(-5px);
    background-color: #0056b3;
}

.banner-content button:active {
    transform: translateY(-1px);
}

/* Section 2 and 3 */
.about-skills {
    display: flex;
    justify-content: space-between;
    background-color: #35356E;
    padding: 40px;
    color: #fff;
    gap: 20px;
}

.about-me {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    margin: 0 10px;
}

.about-me, .skills {
    flex: 1;
	align-items: center;
	vertical-align: middle;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.about-me h2, .skills h2, .skill-category h3 {
    font-family: 'Roboto', sans-serif;
    color: #CCCCCC;
    margin-bottom: 15px;
    font-size: 2em;
}

.about-me h2 {
    margin-bottom: 50px;
}

.about-me p {
    font-size: 1.5em;
    color: #CCCCCC;
    line-height: 1.6;
    margin-bottom: 10px;
}

.skill-category h3 {
    font-size: 1.5em;
	padding-top: 20px;
}

.skill-category div {
    font-size: 1.1em;
    line-height: 1.6;
    color: #CCCCCC;
}

.skill-category div {
    font-size: 1.3em;
    line-height: 1.6;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

.skill-category i {
    margin-right: 8px;
    color: #0A81AB;
    transition: color 0.3s ease, transform 0.3s ease;
	font-size: 2rem;
}

.skill-category i:hover {
    color: #89CFF0;
    transform: scale(1.1);
}




/* Media queries */
@media (max-width: 768px) {
	.nav-links {
		display: none;
	}

	.menu-hamburguer {
		display: block;
	}
}

/* Key frames */

@keyframes typing {
	from {
		width: 0
	}

	to {
		width: 100%
	}
}