* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    align-items: center;
    background-color: #003366;
    color: white;
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
}

.menu-hamburguer {
    display: none;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }
    .menu-hamburguer {
        display: block;
    }
}
