* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* font-family: 'Open Sans', sans-serif; */
	font-family: 'JetBrains Mono', monospace;
	background-color: #35356e;
}

/* Header */
header {
	/* font-family: 'Open Sans', sans-serif; */
	font-family: 'JetBrains Mono', monospace;
	position: fixed;
	width: 100%;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	padding: 10px 40px;
	align-items: center;
	background: linear-gradient(to bottom, #35356e 0%, #484885 100%);
	color: white;
	z-index: 1000;
	top: 0;
	left: 0;
}

.logo img {
	height: 50px;
}

.nav-links {
	list-style: none;
	display: flex;
	gap: 20px;
}

.nav-links li {
	cursor: pointer;
}

.nav-links li a {
	color: white;
	text-decoration: none;
	padding: 0 20px;
}

.menu-hamburguer {
	display: none;
}

/* Section 1 */
.banner {
	font-family: 'Source Code Pro', monospace;
	padding-top: 50px;
	position: relative;
	overflow: hidden;
	height: 950px;
}

.banner h1 {
	color: white;
	text-align: left;
	font-size: 3rem;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 10px 0;
	animation: typing 4s steps(40, end) infinite;
}

#videoBackground {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.banner-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.banner-content button {
	font-family: 'JetBrains Mono', monospace;
	padding: 15px 30px;
	margin-top: 30px;
	background-color: #35356e;
	color: white;
	font-size: 1.2em;
	font-weight: bold;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: transform 0.2s ease, background-color 0.3s ease;
	outline: none;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.banner-content button:hover {
	transform: translateY(-5px);
	background-color: #0056b3;
}

.banner-content button:active {
	transform: translateY(-1px);
}


/* Section 2 and 3 */
.about-skills {
	font-family: 'JetBrains Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: space-around;
    text-align: center;
    max-width: 100%; 
    margin: 0 auto;
	padding-top: 40px;
	height: 600px;
	background: linear-gradient(to bottom, #35356e 0%, #5a5a9f 100%);
}

.about-me h2 {
	font-size: 3rem;
    color: white; 
    text-shadow: 2px 2px 4px #000000;
	padding-bottom: 30px;
}

.about-me p {
	font-size: 2rem;
	width: 80%;
	text-align: center;
	margin: 0 auto;
	color: white;
}

.skill-grid {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.skill-column {
    display: flex;
    flex-direction: column;
	padding: 0 30px;
}

.skill-row {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    animation: fadeIn 0.5s ease-in-out;
}

.skill-row i {
	padding: 0 20px;
	transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.skill-row i:hover {
    color: #00ffff;
    transform: scale(1.2);
}


/* Media queries */
@media (max-width: 768px) {
	.nav-links {
		display: none;
	}

	.menu-hamburguer {
		display: block;
	}
}

/* Key frames */

@keyframes typing {
	from {
		width: 0
	}

	to {
		width: 100%
	}
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}